/*GERAL*/
*{ 
    max-width: 1920px;
    padding: 0;
    margin: 0;

}
body{
    background-color: black;
}


/*HEADER*/
#header-head{ 
    background-color: red;
    padding: 10px;
    text-align: center;
    color: white;
    font-size: 100%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: block;

}
#header-head h2{
    margin: 10px;
    margin-left: 60px;
    margin-right: 60px;
}
#text-yellow{
    color: rgb(255, 174, 0);
}

/*Headline*/
#headline{
    color: white;
    font-family:sans-serif;
    text-align: center;
    font-size: 100%;
    margin-left: 400px;
    margin-right: 400px;
}
#headline h1{
    margin-top: 30px;
}
#enf{
    background-color: rgb(255, 187, 0);
    padding: 0px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*VIDEO*/
#vsl{
   text-align: center;
}
#vsl p{
    color: white;
    font-family: sans-serif;
    font-size: 14px;
    text-align: center;
    margin-top: 30px;
    opacity: 50%;
    margin-bottom: 5px;
}
#video{
    width: 720px;
    height: 400px;
}
#vsl h2{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    margin: 20px;
}

/*BUTTON*/
#button-delay{
    text-align: center;
}
#button{
    background-color:rgb(255, 174, 0); 
    color:white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 22px;
    font-weight: bold;
    border-radius: 50px;
    margin-top: 30px;
    padding:20px;
    border: 0px;
    box-shadow: 0 0 10px gold;
    animation-name: pulsante;
    animation-duration: 0.5s;
    animation-timing-function:ease-in-out;
    animation-iteration-count: infinite;
    
}
#button:hover{
    cursor: pointer;
}
@keyframes pulsante {
    0%{
        
        transform: scale(1);

    }
    50%{
        transform: scale(1.05);
    }
    100%{
        
        transform: scale(1)
    }
}


/*Footer*/
#footer{
    color: white;
    text-align: center;
    margin-top: 50px;
    opacity: 50%;
}
#footer #pages-link{
    font-family: sans-serif;
    font-size: 12px;
    text-decoration: none;
    color: white;
}
#footer #pages-link a{
    color: white;
    text-decoration: none;
}
#footer #footer-text{
    font-family: sans-serif;
    font-size: 10px;
    margin: 10px;
}
#footer #copyright{
    font-size: 14px;
    font-family: sans-serif;
    margin: 10px;
}
@media screen and (max-width: 720px){
    #headline{
        margin: 0px;
    
    }
    #headline h1{
        font-size: 24px;
        margin-left: 40px;
        margin-right: 40px;
    }
    #enf{}

    #header-head{
        padding: 5px;
    }
    #headline-topo{
        font-size: 18px;
        padding: 0px;
        margin: 0px;
    }
    
    #vsl{
        margin: 0px;
    }
    #video{
        width: 75%;
        margin-top: -8%;
    }
    #vsl p{
    
        
    }
    #vsl h2{
        margin-top: -40px;
    }

    #button{
        width: 75%;
        padding: 0px;
    }
    
    #footer{
        width: 100%;
    }

}

@media screen and (max-width: 420px){
    #headline{
        margin: 0px;
    
    }
    #headline h1{
        font-size: 20px;
        margin-left: 30px;
        margin-right: 30px;
    }
    #enf{

    }

    #header-head{
        padding: 1px;
        text-align: center;
    }
    #headline-topo{
        font-size: 16px;
        padding: 0px;
        margin-right: 10px;
    }
    
    #vsl{
        margin: 0px;
    }
    #video{
        width: 75%;
        margin-top: -25%;
    }
    #vsl p{
    
        
    }
    #vsl h2{
        margin-top: -25%;
        font-size: 14px;
        margin-left: 30px;
        margin-right: 30px;
    }

    #button{
        width: 75%;
        padding: 10px;
        font-size: 10px;
        margin-top: 0px;
    }
    
    #footer{
        width: 100%;
    }

}