*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
#desc{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 600;
    margin: 5px;
}
form{
    text-align: center;
    padding: 20px;
    background: #f6f6f6;
    
}
#button{
    padding: 10px;
    
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 5px;
    width: 110px;
    font-weight: bold;
    border-style:hidden;
    background-color: black;
    color: white;
}

#button:hover{
    cursor: pointer;
    border-style: dashed;
    border-color: white;
}